<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7-17Animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA89942E1F1C8BA800A61158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA8994471F1C8BA800A61158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA8994521F1C8BA800A61158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
